*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container{
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar ul li a {
    color: #000;
}